@model IndexPageViewModel

@{
	ViewBag.Title = "Simple Blog Website";
	ViewBag.Description = "My Simple Blog ";
	ViewBag.Keywords = "blog computers programming";
	var path_base = Context.Request.PathBase;

}

@*<h2> Simple Blog! </h2>

	<img src="~/content/static/barley-field-1684052_1920.jpg" height="200" width="200"/>*@
<div class="main-img">
	<span class="title">Simple Blog</span>
	<form asp-controller="Home" asp-action="Index" method="get"
		  asp-route-searchString="@Model.SearchString" asp-route-category="@Model.Category"
		  asp-route-pageNumber="@Model.PageNumber">
		<input type="hidden" name="category" value="@Model.Category" />
		<input type="hidden" name="pageNumber" value=" @Model.PageNumber "  />
		<input class="search" type="text" name="searchString" value="" />
	</form>
	
</div>
	
<div class="container">

	<partial name="_IndexPagination" model="Model" />

	@foreach (Post p in Model.Posts)
	{

		var image_path = $"{path_base}/image/{p.Image}";
	<a class="post" asp-controller="home" asp-action="post" asp-route-id="@p.Id">
		<img src="@image_path" alt="Post Image" />
		<span class="title-post">
			@p.Title
		</span>
	</a>


	}

	<partial name="_IndexPagination" model="Model" />


</div>